# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore MkDocs build directory
site/

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
